html{
  font-family: "Torque Web" !important;
}

.custom_stages li{
    width: 25% !important;
    font-size: 12px !important;
}



/*.col-md-6{
    width: 100% !important;
    padding-bottom: 3px!important ;
}*/
.desc{
    width: 100%;
}

.ckan_keywords div {
  padding-top: 3px;
  padding-bottom: 5px;
}
.controls{
  width:100%;
}


/************************* Custom css for Next/Prev ********************/


  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  } 

  /************************* Custom css for Data type text box ********************/
  .radio{
    font-weight: lighter;
  }
  
  
  
  
  .account-masthead {
    background-color:#002f41 !important;
}
.masthead{
  background-color:#002f41 !important;
  font-weight:bold !important;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a
 {
  background-color: #002f41 !important;

}
.masthead .nav > li > a:hover,
.masthead .nav > .active > a
{
  color: #f27221 !important;
}
.account-masthead .account ul li a {
 
  color: #ffff !important;
  
}
.account-masthead .account ul li a:hover {
  color: #f27221 !important;
  background-color: #002f41 !important;
  text-decoration: none;
}
.homepage .module-search .module-content {
  
  background-color: #f27221 !important;
  
}
.homepage .module-search {
 
  color:  #002f41 !important;
  background: #f27221 !important;
  text-transform: uppercase !important;
}
.homepage .module-search .tags{
  background-color: #f27221 !important;
}