html{
  font-family: "Torque Web" !important;
}

.custom_stages li{
   /* width: 25% !important;*/
    font-size: 12px !important;
}



/*.col-md-6{
    width: 100% !important;
    padding-bottom: 3px!important ;
}*/
.desc{
    width: 100%;
}

.ckan_keywords div {
  padding-top: 3px;
  padding-bottom: 5px;
}
.controls{
  width:100%;
}


/************************* Custom css for Next/Prev ********************/


  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  } 

  /************************* Custom css for Data type text box ********************/
  .radio{
    font-weight: lighter;
  }
  
  
  
  
  .account-masthead {
    background-color:#002f41 !important;
}
.masthead{
  background-color:#002f41 !important;
  font-weight:bold !important;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a
 {
  background-color: #002f41 !important;

}
.masthead .nav > li > a:hover,
.masthead .nav > .active > a
{
  color: #f27221 !important;
}
.account-masthead .account ul li a {
 
  color: #ffff !important;
  
}
.account-masthead .account ul li a:hover {
  color: #f27221 !important;
  background-color: #002f41 !important;
  text-decoration: none;
}
.homepage .module-search .module-content {
  
  background-color: #f27221 !important;
  
}
.homepage .module-search {
 
  color:  #002f41 !important;
  background: #f27221 !important;
  text-transform: uppercase !important;
}
.homepage .module-search .tags{
  background-color: #f27221 !important;
}

.no-border {
  border-bottom: none !important;
}
.mostly-customized-scrollbar {
  display: block;
  position: absolute;
  width: 170px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 1000px;
  transform: rotate(-90deg) translateY(-90px);
  transform-origin: right top;
}
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #f27221;
}




/*::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}


.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:170px;
  max-height:1000px;
  margin:0;
  /*background:#abc;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}*/
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  transform:rotate(90deg);
  transform-origin: right top;
}


.rectangles{
  /*top:10px;*/
  padding:250px 0 0 0;
}
.rectangles > div {
  color: #fff;
  width:240px;
  height:300px;
  margin:50px 10px;
  padding:25px 0 0 0;
  /*background:#cab;*/
  transform:rotate(90deg) translateY(80px);
  transform-origin: right top;
}

.projects-bg{
  background: url(images/bg-slider-trans.png) repeat;
  min-height: 250px;
  width: 100%;
}

.media-heading > a {
  color: #fff;
}

.media-heading > a {
  color: #fff;
}

.media-heading > a:hover, a:focus {
  color: #f27221;
}

.module-image{
  float: none !important;
}

.module-image img {
  width: 150px;
  height: 90px;
  max-width: none !important;
  max-height: none !important;
}

.prosearch{
  padding-bottom: 30px;
}

.main{
  min-height: 500px !important;
}

input#is_keyresearcher, 
input#is_project_leader,
input#is_program_leader  {
  width: 15px !important;
  display: initial;
  height: 15px;
}

.milestone-hide {
  visibility: hidden;
}