.custom_stages li{
    width: 25% !important;
    font-size: 12px !important;
}
table{
    border-spacing: 20px 0;
}

th {
    width: 30%;
    padding-right: 20px;
}
.col-md-6{
    width: 100% !important;
    padding-bottom: 3px!important ;
}
.desc{
    width: 100%;
}

.ckan_keywords div {
  padding-top: 3px;
  padding-bottom: 5px;
}


/************************* Custom css for Next/Prev ********************/


  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  } 

  /************************* Custom css for Data type text box ********************/
  .dataType{
    padding: 20px;
    

  }

